<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table class="table" th:fragment="activeSyncJobList(jobList)">
    <thead>
    <tr>
        <td>Name</td>
        <td>Amount</td>
        <td>Last update</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="syncJob : ${jobList}">
        <!-- Errors here happen because of https://youtrack.jetbrains.com/issue/IDEA-132738
             still applying to iteration -->
        <td th:text="${syncJob.syncJob.playlistName}">Most recent XXX Songs</td>
        <td th:text="${syncJob.syncJob.amountToSync}">123</td>
        <td th:text="${syncJob.formattedLastSync}">5 minutes ago</td>
        <td>
            <button class="btn btn-primary" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                </svg>
                <span>Run now</span>
            </button>
            <button class="btn btn-primary" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pause-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
                </svg>
                <span>Pause</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<table class="table" th:fragment="pausedSyncJobList(jobList)">
    <thead>
    <tr>
        <td>Name</td>
        <td>Amount</td>
        <td>Last update</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="syncJob : ${jobList}">
        <!-- Errors here happen because of https://youtrack.jetbrains.com/issue/IDEA-132738
             still applying to iteration -->
        <td th:text="${syncJob.syncJob.playlistName}">Most recent XXX Songs</td>
        <td th:text="${syncJob.syncJob.amountToSync}">123</td>
        <td th:text="${syncJob.formattedLastSync}">5 minutes ago</td>
        <td>
            <button class="btn btn-primary" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                </svg>
                <span>Resume</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<table class="table" th:fragment="inactiveSyncJobList(jobList)">
    <thead>
    <tr>
        <td>Name</td>
        <td>Amount</td>
        <td>Last update</td>
        <td>Reason</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="syncJob : ${jobList}">
        <!-- Errors here happen because of https://youtrack.jetbrains.com/issue/IDEA-132738
             still applying to iteration -->
        <td th:text="${syncJob.syncJob.playlistName}">Most recent XXX Songs</td>
        <td th:text="${syncJob.syncJob.amountToSync}">123</td>
        <td th:text="${syncJob.formattedLastSync}">5 minutes ago</td>
        <td>
            Target playlist deleted
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>