<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead">
    <title>Playlist Mirror</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}">

    <style>
        .loginForm {
            min-width: 800px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 767.98px) {
            .loginForm {
                min-width: 90%;
            }
        }
    </style>
</head>

<body th:fragment="commonScripts">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>
</body>

</html>