<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="name" type="com.roteswasser.spotifysync.ConfigTableType"*/-->
<div class="card" th:fragment="syncJobContainer(type, jobList, expandByDefault)" th:with="expandTarget=${type.name()} + 'body'">
    <h5 class="card-header" th:class="${expandByDefault && #lists.size(jobList) > 0? 'card-header' : 'card-header collapsed'}"
        data-toggle="collapse" th:data-target="${#lists.size(jobList) > 0? '#' + expandTarget : 'none'}" data-target="#activeSyncJobsBody">
        <a href="#">
            <span th:if="${type == T(com.roteswasser.spotifysync.ConfigTableType).Active}">Active</span>
            <span th:if="${type == T(com.roteswasser.spotifysync.ConfigTableType).Paused}">Paused</span>
            <span th:if="${type == T(com.roteswasser.spotifysync.ConfigTableType).Inactive}">Inactive</span>

            <span class="badge badge-primary" th:text="${#lists.size(jobList)}">5</span>

            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    </h5>
    <div th:if="${#lists.size(jobList) > 0}"
         id="activeSyncJobsBody"
         th:id="${expandTarget}"
         class="collapse show"
         th:class="${expandByDefault && #lists.size(jobList) > 0? 'collapse show' : 'collapse'}">
        <div class="card-body">
            <div th:if="${type == T(com.roteswasser.spotifysync.ConfigTableType).Active}">
                <table th:replace="fragments/syncJobLists :: activeSyncJobList(${jobList})" class="table"></table>
            </div>

            <div th:if="${type == T(com.roteswasser.spotifysync.ConfigTableType).Paused}">
                <table th:replace="fragments/syncJobLists :: pausedSyncJobList(${jobList})" class="table"></table>
            </div>

            <div th:if="${type == T(com.roteswasser.spotifysync.ConfigTableType).Inactive}">
                <table th:replace="fragments/syncJobLists :: inactiveSyncJobList(${jobList})" class="table"></table>
            </div>
        </div>
    </div>
</div>

</body>
</html>