<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spotify Sync</title>
</head>

<body>
<p>Hello <span th:text="${displayName}">Name</span>!</p>

<p>Hi, this is configuration!</p>

<p>You currently have <span th:text="${#lists.size(syncJobs)}">Count</span> sync jobs configured</p>

<div id="syncJobList">
    <div>
        <!-- Existing Sync Jobs -->
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                    <td>Last sync time</td>
                    <td>Target Deleted?</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="syncJob : ${syncJobs}">
                    <!-- Errors here happen because of https://youtrack.jetbrains.com/issue/IDEA-132738
                         still applying to iteration -->
                    <td th:text="${syncJob.playlistName}">Most recent XXX Songs placeholder</td>
                    <td th:text="${syncJob.amountToSync}">250</td>
                    <td th:text="${syncJob.lastSync}">5 minutes ago</td>
                    <td th:text="${syncJob.playlistDeletedByOwner}">false</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div>
        <h5>Create new Sync Job</h5>
        <!-- New Sync Job -->
        <form action="#" method="post" th:action="@{/configuration}" th:object="${createSyncJobFormData}">

            <label for="amount">Amount of Songs to synchronize</label>
            <input id="amount" th:field="*{amount}" type="number">

            <button type="submit">Set up sync job!</button>
        </form>

    </div>
</div>

</body>

</html>