<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/common :: commonHead"></head>

<body>
<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SpotifySync</a>
    </nav>
</div>

<p>You currently have <span th:text="${#lists.size(syncJobs)}">Count</span> sync jobs configured</p>

<div id="syncJobList">
    <div>
        <!-- Existing Sync Jobs -->
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                    <td>Last sync time</td>
                    <td>Target Deleted?</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="syncJob : ${syncJobs}">
                    <!-- Errors here happen because of https://youtrack.jetbrains.com/issue/IDEA-132738
                         still applying to iteration -->
                    <td th:text="${syncJob.playlistName}">Most recent XXX Songs placeholder</td>
                    <td th:text="${syncJob.amountToSync}">250</td>
                    <td th:text="${syncJob.lastSync}">5 minutes ago</td>
                    <td th:text="${syncJob.playlistDeletedByOwner}">false</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div>
        <h5>Create new Sync Job</h5>
        <!-- New Sync Job -->
        <form action="#" method="post" th:action="@{/configuration}" th:object="${createSyncJobFormData}">

            <label for="amount">Amount of Songs to synchronize</label>
            <input id="amount" th:field="*{amount}" type="number">

            <button type="submit">Set up sync job!</button>
        </form>

    </div>
</div>

<!--/*/ <th:block th:replace="fragments/common :: commonScripts"></th:block> /*/-->
</body>
</html>