<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/common :: commonHead"></head>

<body>
<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SpotifySync</a>
    </nav>
</div>

<h1>Log in</h1>

<p th:if="${isSignOut}">Signed Out successfully</p>

<a th:href="${loginLink}">Login to Spotify here!</a>

<!--/*/ <th:block th:replace="fragments/common :: commonScripts"></th:block> /*/-->

</body>

</html>