<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/common :: commonHead"></head>

<body>
<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SpotifySync</a>
    </nav>
</div>

<p>This application allows you to synchronize your last X liked Spotify songs to a playlist!</p>

<div th:if="${isSignedIn}">
    <div th:if="${noSyncJobConfigured}">
        Hi! You don't yet have a sync job configured. Without doing so, no playlist sync occurs!
    </div>
</div>

<!--/*/ <th:block th:replace="fragments/common :: commonScripts"></th:block> /*/-->

</body>

</html>