<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" style="scroll-behavior: smooth">

<head th:insert="fragments/common :: commonHead">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Playlist Mirror</a>
    </nav>
</div>

<div class="container-fluid" style="background: rgb(220, 220, 220); padding-top: 6rem; padding-bottom: 6rem;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <blockquote class="blockquote">
                <h1><b>Save storage space on your phone by downloading an always up-to-date mirror-playlist of your latest liked Spotify songs instead of
                    all of them!</b></h1>
                </blockquote>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div th:unless="${isSignedIn}" style="margin-top: 3rem;">
                    <a th:href="@{/configuration}"><button class="btn btn-primary btn-block">Get Started Now</button></a>
                </div>
                <div th:if="${isSignedIn}" style="margin-top: 3rem;">
                    <a th:href="@{/configuration}"><button class="btn btn-primary btn-block">Set up Mirrored Playlists</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="learn-more" class="container" style="margin-top: 6rem;">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <h2>Three Simple Steps</h2>
        </div>
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                1. Log in to this website.
                            </div>

                            <div class="col-lg-3">
                                <div th:if="${isSignedIn}" class="text-center">&#x2714;</div>
                                <span th:unless="${isSignedIn}">
                                    <a th:href="@{/login}">
                                        <button class="btn btn-primary btn-block">Log in with Spotify</button>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                2. Create a mirror-playlist of your most recent liked songs, which will be kept
                                up-to-date automagically by this website.
                            </div>

                            <div th:if="${isSignedIn}" class="col-lg-3">
                                <a th:href="@{/configuration}">
                                    <button class="btn btn-primary btn-block">Set up Mirrored Playlists</button>
                                </a>
                            </div>

                            <div th:unless="${isSignedIn}" class="col-lg-3">
                                <button class="btn btn-secondary btn-block" disabled>Set up Mirrored Playlists</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                3. Instead of saving all liked songs on your phone, save your newly created mirror playlist.
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    </div>
</div>


<!--/*/ <th:block th:replace="fragments/common :: commonScripts"></th:block> /*/-->

<script th:remove="all" src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:remove="all" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:remove="all" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>