<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/common :: commonHead"></head>

<style>
    .card-header .bi {
        transition: .3s transform ease-in-out;
    }

    .card-header.collapsed .bi {
        transform: rotate(90deg);
    }

    .row {
        margin-bottom: 15px;
        margin-top: 15px;
    }
</style>

<body>
<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Playlist Mirror</a>
    </nav>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <div th:replace="fragments/syncJobContainer :: syncJobContainer(${T(com.roteswasser.spotifysync.ConfigTableType).Active}, ${activeSyncJobs}, true)">
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <div th:replace="fragments/syncJobContainer :: syncJobContainer(${T(com.roteswasser.spotifysync.ConfigTableType).Paused}, ${pausedSyncJobs}, true)">
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <div th:replace="fragments/syncJobContainer :: syncJobContainer(${T(com.roteswasser.spotifysync.ConfigTableType).Inactive}, ${inactiveSyncJobs}, false)">
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card">
                <h5 class="card-header">New Mirrored Playlist</h5>
                <div class="card-body">
                    <form id="newSyncJobForm" action="#" method="post" th:action="@{/configuration}" th:object="${createSyncJobFormData}">
                        <div class="form-group">
                            <label for="source">Source</label>
                            <input id="source" class="form-control" value="Liked Songs" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount to Mirror</label>
                            <input id="amount" class="form-control" form="newSyncJobForm" th:field="*{amount}" th:object="${createSyncJobFormData}" type="number">
                        </div>

                        <button class="btn btn-primary" form="newSyncJobForm" type="submit">Create Mirrored Playlist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<!--/*/ <th:block th:replace="fragments/common :: commonScripts"></th:block> /*/-->
</body>
</html>